{% load static %}
<html lang="en">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/file-upload-with-preview.min.css' %}">
    <body>
      {% include "Pages/cabecera.html" %}


      {% block centro %}

      {% endblock centro %}


      {% include "Pages/footer.html" %}

      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="{% static 'js/jquery.serializeObject.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/header.js' %}"></script>
      <script src="{% static 'js/file-upload-with-preview.min.js' %}"></script>

      {% block codes_js %}

      {% endblock codes_js %}
    </body>
</html>
